# Python (виртуальные окружения и кэш)
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# VS Code (настройки редактора)
.vscode/

# Docker (если есть специфичные логи)
*.log

# Данные и модели (если они тяжелые)
models/