# Основные зависимости для обработки данных
numpy
pandas
pillow
tqdm
scipy
huggingface_hub

# Работа с изображениями (необходима для работы модели с файлами)
opencv-python

# Химическая информатика (БЕЗ ЭТОГО RXNScribe НЕ БУДЕТ РАБОТАТЬ)
rdkit

# Зависимость для распознавания отдельных молекул
# (Даже если вы ставите molscribe=False, импорт в коде RXNScribe может её искать)
molscribe